<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HttpToHttps" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HTTP_HOST}" pattern="^([^:]+)" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}:8630/{R:1}" redirectType="Found" appendQueryString="true" />
                </rule>
                <rule name="ReverseProxy">
                    <match url=".*" />
                    <action type="Rewrite" url="http://ifa-webapp:8501/{R:0}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
